In [42]:
import pandas as pd

# Series

In [8]:
data = [1, 2, 3, 4, 5]

In [9]:
s = pd.Series(data)

In [10]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
index = ['Linha' + str(i) for i in range(5)]

In [12]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [13]:
s = pd.Series(data = data, index = index)

In [14]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [15]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [16]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [17]:
s1 = s *4

In [18]:
s1

Linha0     4
Linha1     8
Linha2    12
Linha3    16
Linha4    20
dtype: int64

In [19]:
s2 = s+s1
s2

Linha0     5
Linha1    10
Linha2    15
Linha3    20
Linha4    25
dtype: int64

In [20]:
data = [ [1,2,3], 
        [4,5,6],
        [7,8,9]]

In [21]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
df1 = pd.DataFrame(data = data)

In [49]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [37]:
colums = ['Coluna' + str(i) for i in range(3)]
colums

['Coluna0', 'Coluna1', 'Coluna2']

In [67]:
df1 = pd.DataFrame(data = data, index = rows, columns = colums)

In [38]:
rows = [ 'linha' + str(i) for i in range(3)]
rows

['linha0', 'linha1', 'linha2']

In [57]:
df2 = pd.DataFrame( data = data , index = rows, columns = colums)
df2

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [58]:
df3 = pd.DataFrame(data = data, index = rows , columns = colums)
df3

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [69]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A

In [61]:
df2[df2 > 0] = 'B'

TypeError: '>' not supported between instances of 'str' and 'int'

In [62]:
df2

       Coluna0 Coluna1 Coluna2
linha0       B       B       B
linha1       B       B       B
linha2       B       B       B

In [64]:
df4 = pd.concat([df1, df2])
df4

           0    1    2 Coluna0 Coluna1 Coluna2
Coluna0    A    A    A     NaN     NaN     NaN
Coluna1    A    A    A     NaN     NaN     NaN
Coluna2    A    A    A     NaN     NaN     NaN
linha0   NaN  NaN  NaN       B       B       B
linha1   NaN  NaN  NaN       B       B       B
linha2   NaN  NaN  NaN       B       B       B

In [70]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A
linha0       B       B       B
linha1       B       B       B
linha2       B       B       B
linha0       1       2       3
linha1       4       5       6
linha2       7       8       9

In [71]:
df5 = pd.concat([df1, df2, df3], axis = 1)
df5

,Coluna0,Coluna1,Coluna2,Coluna0,Coluna1,Coluna2,Coluna0,Coluna1,Coluna2
linha0,A,A,A,B,B,B,1,2,3
linha1,A,A,A,B,B,B,4,5,6
linha2,A,A,A,B,B,B,7,8,9