In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [4]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7+
classes = [0, 2 ,4 ,6, 100]

In [5]:
quartos =  pd.cut(dados.Quartos, classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
21821    (0.0, 2.0]
21822           NaN
21823    (2.0, 4.0]
21824    (0.0, 2.0]
21825    (0.0, 2.0]
Name: Quartos, Length: 21826, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [7]:
pd.value_counts(quartos)

(0, 2]      11250
(2, 4]       9681
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

In [8]:
labels = [ ' 1 e 2 quartos ' , ' 3 e 4 quartos ', ' 5 e 6 quartos ', ' 7 ou mais quartos ']

In [12]:
 quartos = pd.cut(dados.Quartos, classes, labels= labels, include_lowest = True)
pd.value_counts(quartos)

 1 e 2 quartos         11409
 3 e 4 quartos          9681
 5 e 6 quartos           686
 7 ou mais quartos        50
Name: Quartos, dtype: int64